<footer class="footer mt-auto py-3">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    로고부분
                </div>
                <div class="col-4">
                    <p class="cop-name">(주)재능냉장고</p>
                    <p>대표:권석진</p>
                    
                </div>
                <div class="col-4">
                    문의사항
                    <p>jeiufridge@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <span class="text-muted">Copyright 2020 &copy JeiuFridge All Right Reversed.</span>
        </div>
    </div>
    
</footer>